<footer class="press">
  <div class="container-fluid">
    <div class="row col-wrap">
      <div class="col-sm-4 social col">
        <p>
          <img data-src="holder.js/100x100" src="holder.js/100x100" class="img-thumbnail img-responsive"><br /><br />
          <a href="#" class="brand">University Press</a>
        </p>
        <ul class="list-inline">
          <li><a href="#">FB</a></li>
          <li><a href="#">I</a></li>
          <li><a href="#">T</a></li>
          <li><a href="#">YT</a></li>
        </ul>
      </div>
      <div class="col-sm-4 footer-nav col">
        <ul class="list-unstyled">
          <li><a href="#">Home</a></li>
          <li><a href="#">Search</a></li>
          <li><a href="#">Browse All Books</a></li>
          <li><a href="#">Browse All Book Materials</a></li>
          <li><a href="#">About</a></li>
        </ul>
      </div>
      <div class="col-sm-4 platform col">
        <p>Powered by <a href="#">Platform Brand</a></p>
        <ul class="list-unstyled">
          <li><a href="#">Help</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Contact</a></li>
          <li><a href="#">Contribute</a></li>
        </ul>
      </div>
    </div>
    <div class="row copyright">
      <div class="col-sm-12">
        <p>&copy; University Press 2016</p>
      </div>
    </div>
  </div>
</footer>
