/* GLOBAL */
/* Navigation */
.navbar {
  margin-bottom: 0px;
}
 .navbar .container {
   margin-top: 0;
 }

/* Container */
.container {
  margin-top: 30px;
}


/* PLATFORM */
.platform {

  .jumbotron {
    padding-bottom: 50px;
    margin-bottom: 20px;
    height: 350px;

    h1 {
      padding-top: 100px;
    }

    .container {
      margin-top: 0;
    }

  }

    h1 {
      margin-top: 0px;

    }

    h2.section-head {
      margin-bottom: 15px;
    }

    .titles, .presses {
      h2 {
        font-size: 24px;
      }
      h3 {
        font-size: 18px;
      }
      h2.section-head {
        font-size: 24px;
      }
    }

    /* Footer */
    footer.platform {
      margin-bottom: 0px;
      padding-top: 30px;
      padding-bottom: 20px;
      background-color: #000;
      color: #fff;

      .container {
        margin-top: 0;
      }

      p {
          font-size: 16px;
      }
    }
}

/* PRESS */
.press {

  /* Marketing */
  .jumbotron {
    padding-bottom: 25px;
    margin-bottom: 0px;
  }

  h1 {
    margin-top: 0px;
  }

  .pressbrand img {
    margin: 0px 20px 20px 0px;
  }

  /* Navigation */
  nav.press {
    min-height: 50px;
    position: relative;
    margin-bottom: 30px;
    border-bottom: 1px solid #e7e7e7;
    border-top: 1px solid #e7e7e7;
    background-color: #eee;


    ul.nav {
      padding: 8px 0;
      float: left;
    }

    form.search {
      padding: 11px 0;
    }
  }

  /* Book and Item Browse */
  h2.section-head {
      font-size: 30px;
      margin-top: 0px;
      margin-bottom: 30px;
  }

  .titles, .items {

    .row {
      margin-bottom: 30px;
    }
    h2 {
      font-size: 24px;
    }
    h3 {
      font-size: 18px;
    }
    h2.section-head {
      font-size: 24px;
    }
  }
  .items h2 {
    font-size: 18px;
  }

}

/* Book/Product Page */
.title {
  .jumbotron h1, .jumbotron .h1 {
    font-size: 36px;
  }

  .jumbotron {
    padding-top: 30px;
    padding-bottom: 20px;
  }

  .pressbrand img {
    margin-bottom: 0px;
  }

  .titles h2 {
    font-size: 30px;
  }

  .btn-toolbar {
    margin: 25px 0px 10px -5px;

    .btn-group {
      margin-right: 10px;
    }

  }
  .isbn {
    margin: 20px 0px;
  }

  .sidebar {
    margin-top: -30px;

    h3 {
      margin-top: 0px;
    }


  }

  a.external {
    font-size: 12px;
  }

}

/* List view of title page */
.title.list .content {

  .row {

    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 30px;

    img {
      margin-bottom: 8px;
    }

    h2 {
      margin-top: 5px;
    }

    h3 {
      font-size: 16px;
    }

    .classification {
      display: block;
    }
  }

}

.title.list.text .content {

  .row {

    .classification {
      display: inline-block;
      margin-right: 10px;
    }

    h2 {
      display: inline;
    }

  }


}

.content {
  padding-left: 30px;
}


/* Item/Object Page */
.item {

  .object-navigation {

    a {
      font-size: 16px;
    }

    .glyphicon {
      top: 2px;
    }

  }

  .zoom {
    margin-top: 10px;
    font-size: 1.2em;
  }

  .external-text {
    margin-top: 20px;
  }

  .tab-content {

    margin-top: 30px;

  }

  .download, .cite, .share {
    margin-top: 20px;
  }

  .cite, .share {
    margin-left: 20px;
  }

  .data {
    padding-bottom: 45px;
  }

  audio {
    margin-top: 20px;
  }

  video {
    margin-top: 0px;
  }

  .fixed {
    min-height: 30em;
    max-height: 30em;
    overflow-y: scroll;
  }

}

footer.press {
    background-color: #262626;
    color: #fff;

    .col-wrap {
      overflow: hidden;
    }

    .col {
      margin-bottom: -99999px;
      padding-bottom: 99999px;
    }

    .social {
      padding-left: 30px;
    }

    .social, .footer-nav {
      padding-top: 30px;
      background-color: #171717;
    }

    .platform {
      padding-top: 30px;
      color: #BABABA;
    }

    .copyright {
        background-color: #000;
        padding: 10px;
        p {
          font-size: 16px;
        }
    }

}

/* ADMIN DASHBOARD */

/* Global */
#wrapper {

  padding-left: 250px;
  transition: all 0.4s ease 0s;

}

/* Sidebar Menu */

#sidebar-wrapper {

  margin-left: -250px;
  left: 250px;
  width: 250px;
  background: #30373B;
  position: fixed;
  height: 100%;
  overflow-y: auto;
  z-index: 1000;
  transition: all 0.4s ease 0s;

}

.sidebar-nav {

  position: absolute;
  top: 0;
  width: 250px;
  margin: 0;
  padding: 0;

  .brand {

    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 10px;


      h1 {
      font-size: 20px;
      font-weight: 300;
      color: #ccc;
      display: inline;
    }

  }

  .search {

    padding-bottom: 15px;

    .input-group-addon {
      border-radius: 0;
    }

    .form-control {

      border-radius: 0;

    }

  }

  nav.signinout {

    width: inherit;
    transition: all 0.4s ease 0s;

    .container {

      width: inherit;

      p.press {
        font-size: 18px;
        margin-bottom: 0;
      }

      p.user {

        margin-top: 10px;

      }

    }

  }

  ul.nav {

    list-style: none;

    a, a:hover, a:active {

      border-radius: 0;

    }

    .glyphicon {

      padding-right: 10px;

    }

    li+li {
      margin-top: 0;

    }

    .customize {
      padding-top: 60px;
    }

  }

}

/* Page Content */
#page-content-wrapper {

  width: 100%;

  .navbar h2 {
    font-size: 24px;
    margin-left: 20px;
    margin-top: 14px;
  }

  .container.admin {
    width: inherit;
    padding-left: 30px;
    padding-right: 30px;
    margin-left: 20px;
    margin-right: 20px;
  }

  nav {

    .container {
      width: inherit;
    }

    ul.nav {

      margin-right: 25px;
      margin-left: 25px;

      li>a {

        padding: 5px 10px;

      }

    }

  }

  .items {

    table {
      img {
        margin-bottom: 10px;
      }
    }

  }

  .add-items {

    .processing {
      margin-top: 90px;
    }

  }

  .dashboard {

    h2 {
      font-size: 20px;
      margin-bottom: 20px;
    }

    .row {

      padding-bottom: 50px;

        .more {
          margin-top: -5px;
        }

    }

  }

  .add-items.confirm {

    .items {

      h2 {
        font-size: 20px;
        margin-bottom: 20px;
      }

      .row {

        border-bottom: 1px solid #e5e5e5;
        padding-bottom: 30px;
        margin-bottom: 20px;

        img {
          margin-bottom: 8px;
        }

        h2 {
          margin-top: 5px;
          font-size: 18px;
        }

        h3 {
          font-size: 16px;
        }

        .classification {
          display: block;
        }
      }
    }


  }

}

/* Collapsable Menu */
@media (max-width:767px) {
  #wrapper {
    padding-left: 0;
  }
  #sidebar-wrapper {
    left: 0;
  }
  #wrapper.active {
    position: relative;
    left: 250px;
  }
  #wrapper.active #sidebar-wrapper {
    left: 250px;
    width: 250px;
    transition: all 0.4s ease 0s;
  }

  nav.signinout {

    display:none;
    transition: all 0.4s ease 0s;

  }

}
